<body>

<style type="text/css" media="screen">
  table{
  border-collapse:collapse;
  border:1px solid #000000;
  }
  table td{
  border:1px solid #000000;
  }
</style>

<h1 style="color: #2b2301;">Daily CI Report</h1>

<table>
    <thead bgcolor="#34495E">
    <tr>
        <td height="30"><font color="white">Job-Build &nbsp;&nbsp;&nbsp;</font></td>
        <td height="30"><font color="white">Result &nbsp;&nbsp;&nbsp;</font></td>
        <td height="30"><font color="white">Date &nbsp;&nbsp;&nbsp;</font></td>
        <td height="30"><font color="white">Link &nbsp;&nbsp;&nbsp;</font></td>
        <td height="30"><font color="white">Details &nbsp;&nbsp;&nbsp;</font></td>
    </tr>
    </thead>
    <tbody>
    {% for job_build, build_info in data.items() | sort(attribute='1') %}
      <tr bgcolor="#E6E9CF">
          <td>{{job_build}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          {% if build_info['Result'] != 'SUCCESS' %}
            <td><font color="red"> {{build_info['Result']}} </font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          {% else %}
            <td><font color="green"> {{build_info['Result']}} </font> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          {% endif %}
          <td>{{build_info['Date']}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td><a href="{{build_info['url']}}"> <font color="blue"> {{build_info['url']}} </font></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
