<body>


<h1 style="color: #2b2301;">Build Report</h1>
<h2 style="color: #2e6c80; line-height: 50px;"></h2>
<h3 style="color: #2e6c80; line-height: 50px;"</h3>
<h3 style="color: #2e6c80; line-height: 50px;"></h3>
<h3 style="color: #2e6c80; line-height: 50px;"></h3>

<p>&nbsp;</p>
<h3 style="color: #34495e;">Build: {{data['build_number']}} of Job: {{data['job_name']}}</h3>
<p style="color: #34495e; line-height: 5px;">Result: {{data['Result']}}</p>
<p style="color: #34495e; line-height: 5px;">Date: {{data['Date']}} </p>
<p><a href="{{data['url']}}"> <font color="blue"> {{data['url']}} </font></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<style type="text/css" media="screen">
  table{
  border-collapse:collapse;
  border:1px solid #000000;
  }
  table td{
  border:1px solid #000000;
  }
</style>

<table>
    <thead bgcolor="#34495E">
    <tr>
        <td height="30"><font color="white">Stage &nbsp;&nbsp;&nbsp;</font></td>
        <td height="30"><font color="white">Status-Run &nbsp;&nbsp;&nbsp;</font></td>
        <td height="30"><font color="white">Status-Result &nbsp;&nbsp;&nbsp;</font></td>
        <td height="30"><font color="white">Details &nbsp;&nbsp;&nbsp;</font></td>
    </tr>
    </thead>
    <tr>
        <td colspan="2">
        </td>
    </tr>
    <tbody>
    {% for stage, stage_info in data['stages'].items() | sort(attribute='1.mean') %}
      <tr bgcolor="#E6E9CF">
          {% if stage != 'Triggered Builds' %}
              <td>{{stage}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>{{stage_info['performed']}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>{{stage_info['passed']}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>{{stage_info['data']|truncate(200,true)}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          {% else %}
              {% for job_name, job_info in stage_info.items() %}
                  <tr bgcolor="#E6E9CF">
                  <td>{{job_name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  <td>{{job_info['performed']}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  <td>{{job_info['passed']}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  <td><a href="{{job_info['data']}}"> <font color="blue">{{job_info['data']}} </font></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  </tr>
              {% endfor %}
          {% endif %}
      </tr>
    {% endfor %}
    </tbody>
</table>

<p style="color: #34495e; line-height: 2px;"> Commits: </p>
{% for commit in data['commits'] %}
    <p>{{commit['branch']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p><a href="{{commit['commit-url']}}"> <font color="blue"> {{commit['commit-url']}} </font></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
{% endfor %}
</body>
</html>
